Source: auto-cpulimit
Section: unknown
Priority: optional
Maintainer: Balou9 <eto.owosekun@gmail.com>
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 12)

Package: auto-cpulimit
Architecture: all
Description: Wrapper around cpulimit to limit cpu usage for multiple processes
