Source: auto-cpulimit
Section: admin
Priority: optional
Maintainer: Balou9 <eto.owosekun@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Rules-Requires-Root: no
Package: auto-cpulimit
Version: 0.1.1
Architecture: all
Description: Wrapper around cpulimit to limit cpu usage for multiple processes
